@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
.book-container {
  background: radial-gradient(#5a47ce, #232323 80%);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 6px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-truck {
  background-color: transparent;
  border-radius: 4px;
}

.fixgradient {
  background-size: auto 1.9ch;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper article {
  width: 620px;
  height: 980px;
  border: none;
  border-radius: 20px;
  position: relative;
}

canvas {
  pointer-events: auto;
}

.searchresultseffect::before {
  background: radial-gradient(#f59e0b, transparent, transparent);
  content: '';
  position: absolute;
  width: 100%;
  aspect-ratio: 4/2;
  opacity: 0;
  transform: translate(-50%, -50%);
  top: var(--y);
  left: var(--x);
  transition:
    0.5s,
    top 0s,
    left 0s;
}

.searchresultseffect::after {
  border-radius: 4px;
  content: '';
  position: absolute;
  inset: 4px;
  background: white;
  opacity: 0.15;
  transition: opacity 0.2s ease;
}

.searchresultseffect:hover::after {
  opacity: 0.4;
}

.searchresultseffect:hover::before {
  opacity: 1;
}

.bookeffect {
  position: relative;
  height: 3.5vh;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.linear-gradient {
  background: linear-gradient(to right bottom, #c2410c, #f97316);
}

.texteffect {
  background: linear-gradient(to right top, #fb923c 20%, #c2410c 60%);
  background-size: 300% 100%;
  background-clip: text;
  color: transparent;
  cursor: default;
  background-position: 50% 50%;
  transition: background-position 0.5s ease;
}

.texteffect:hover {
  background-position: 85% 50%;
}

.backgroundeffect {
  background: linear-gradient(to right top, #ea580c 40%, #fb923c 70%);
  background-size: 300% 100%;
  background-position: 50% 50%;
  transition:
    background-position 0.5s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.backgroundeffect:hover {
  background-position: 100% 50%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bookeffect::before {
  background: radial-gradient(#fed7aa, transparent, transparent);
  content: '';
  position: absolute;
  width: 40%;
  height: 200px;
  opacity: 0;
  transform: translate(-50%, -50%);
  top: var(--y);
  left: var(--x);
  transition:
    0.5s,
    top 0s,
    left 0s;
}

.bookeffect::after {
  border-radius: 4px;
  content: '';
  position: absolute;
  inset: 1.5px;
  background: linear-gradient(to right bottom, #c2410c, #f97316);
  opacity: 0.6;
}

.bookeffect:hover::before {
  opacity: 1;
}
